* {
    box-sizing: border-box;
    margin: 0 0;
}

h1,
h2 {
    color: #072083;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
}

li {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

p {
    color: #5C5C5C;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
}


a:link,
a:visited,
a:hover,
a:active {
    color: #072083;
    text-decoration: none;
}

hr {
    border: 1px solid #E59982;
}



/* @media screen and (max-width: 768px) { */
/**partie de Sebastien*/

.form-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #FEC3A3;
}

@media screen and (min-width: 768px) {}


#form {
    width: 75%;
    margin: 20px 0 40px 0;
}


.form-tilte {
    margin: 1em 0 0 0;
    font-weight: 800;
    color: #072083;
}


.form-text {
    /* margin: 1em 0 0.75em 2.2em;
    font-weight: 800; */
    display: none;
}

.form-input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}

.form-input-max {
    margin: 1.5em 0;

}

#textarea textarea {
    border-radius: 1.5em;
    font-family: 'Noto Sans', sans-serif;

}

.form-input {
    width: 100%;
    padding: 1.2em 1.2em 1.2em 3.6em;
    border-radius: 1em;
    background-color: #fff;
    border: solid #FEC3A3;
    border-width: 2px;
}

.form-input:hover {
    border: solid #FEC3A3;
    border-width: 2px;
}

#form-button {
    font-size: 1.22rem;
    border: solid #FEC3A3;
    border-width: 2px;
}



.button,
.btn-secondary {
    width: 100%;
    position: relative;
    padding: 1.1em 1.8em;
    letter-spacing: .1em;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    background-color: #FEC3A3;
    color: #072083;

}

.button:focus,
.button:hover {
    background-color: #ffffff;
}


textarea {
    min-height: 10em;
    transition: opacity 15s ease-in-out;
}

/* @media only screen and (max-width: 480px) {

    /*Form */
/* .form-input-grid {  */
/* grid-template-columns: 1fr 1fr; */
/* grid-template-rows: 1fr 1fr; */
/* grid-column-gap: 0; 
     } */


/* Form */
.form-input-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0;
}


@media screen and (max-width: 767px) {

    /* partie de Sylvain*/
    nav h1 {
        max-width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .ctaButton2 {
        display: none;
    }

    .ctaButton {
        display: flex;
        position: absolute;
        right: 10px;
        top: 5px;
        block-size: 60px;
        font-weight: bold;
        margin-top: 0px;
        padding: 7px 9px;
    }

    .header-picture {
        object-fit: cover;
        width: 100%;
    }

    .logo {
        position: absolute;
        height: 50px;
        left: 27%;
        top: 10px;
    }

    /* Sidenav menu */
    .text-nav-open {
        font-size: 20px;
    }

    #myLogo-nav-burger {
        display: flex;
        justify-content: center;
    }

    .trait-nav {
        width: 100%;
    }

    .sidenav {
        height: 100%;
        width: 200px;
        position: absolute;
        z-index: 10;
        top: 0;
        left: -250px;
        background-color: #fff;
        transition: left 0.5s ease;
    }

    .sidenav ul {
        /* display: flex; */
        position: absolute;
        flex-direction: column;
        /* top: 20%; */
        list-style-type: none;
        padding: 0px;
        /* margin-left: 20%; */
        list-style-type: none;
        margin: 10px;
    }

    .personnageh2 {
        margin-left: 40px;
    }

    /* Sidenav menu links */
    .sidenav a {
        padding: 8px 30px 8px 32px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        font-size: 25px;
        font-family: 'Oswald', sans-serif;
        /* margin: 0.50rem; */
        color: #072083;
        display: flex;
        transition: 0.3s;

        /* justify-content: space-around; */
    }

    .sidenav a:hover {
        color: #E59982;
    }

    /* Active class */
    .sidenav.active {
        left: 0;
        width: 100%;
        height: 400px;
        background-color: #FEC3A3;
        border: solid 5px #E59982;
        border-radius: 2%;
    }

    /* Close btn */
    .sidenav .close {
        position: absolute;
        top: 0px;
        right: 25px;
        font-size: 36px;
        z-index: 20;
        margin-top: 7px;
    }

    .burger-icon {
        position: absolute;
        top: 20px;
        left: 10px;
        z-index: 20;

    }

    .burger-icon span {
        display: flex;
        width: 30px;
        height: 4px;
        background-color: #072083;
        margin-top: 4px;
    }

    nav h1 {
        display: flex;
        justify-content: center;
        width: auto;
        font-size: 2.5rem;
    }
}

/*partie de Gaëtan*/

#caroussel {
    display: flex;
    width: 100%;
    height: 100%;
    /*régler height pour voir plus ou moins le carrousel */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    transition: background .4s ease-in;

}

input[type=radio] {
    display: none;
}

.card {
    position: absolute;
    width: 60%;
    height: 90%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .5s ease;
    cursor: pointer;
}

.container {
    display: flex;
    width: 100%;
    /* max-width: 400px;
    max-height: 200px; */
    height: 50vh;
    transform-style: preserve-3d;
    justify-content: center;
    flex-direction: column;
    align-items: center;



}

.cards {
    /* display: flex; */
    position: relative;
    width: 100%;
    height: 70%;
    /* margin-bottom: 20px; */
}

.imgArene {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: fill;
    /*permet de définir si la photo est entierement dans la card */
}

#item-1:checked~.cards #song-5,
#item-2:checked~.cards #song-1,
#item-3:checked~.cards #song-2,
#item-4:checked~.cards #song-3,
#item-5:checked~.cards #song-4 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-2,
#item-2:checked~.cards #song-3,
#item-3:checked~.cards #song-4,
#item-4:checked~.cards #song-5,
#item-5:checked~.cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked~.cards #song-1,
#item-2:checked~.cards #song-2,
#item-3:checked~.cards #song-3,
#item-4:checked~.cards #song-4,
#item-5:checked~.cards #song-5 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}


#item-1:checked~.player #test {
    transform: translateY(0);
}

#item-2:checked~.player #test {
    transform: translateY(-40px);
}

#item-3:checked~.player #test {
    transform: translateY(-80px);
}

#item-4:checked~.player #test {
    transform: translateY(-0px);
}

#item-5:checked~.player #test {
    transform: translateY(-0px);
}

.msg {

    width: 100%;
    padding: 1rem;
    height: 100px;
}

/* fiche personnage */

.bodyCharacter {
    margin-top: -20px;
}

.container-picture {
    margin: 20px;
}

.presentationPersonnage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
}

#namePersonnage {
    /* width: 100%; */
    background-color: rgba(7, 32, 131, 0.31);
    padding: 2rem 7.1rem 0.6rem;
    border-radius: 200px;
}

.msgPersonnage {
    width: 100%;
    padding: 1rem;
}

/* .imgArene {
    margin-top: 50px;
} */

.nameCompetence {
    width: 100%;
    text-align: left;
}

#competencesPersonnage {
    margin-left: 20px;
}


.imgCompetence {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: fill;
    /*permet de définir si la photo est entierement dans la card */
}

#carousselPersonnage {
    display: flex;
    width: 100%;
    height: 100%;
    /*régler height pour voir plus ou moins le carrousel */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    transition: background .4s ease-in;

}

.photo>img {
    /* width: 100%; */
    height: 100%;
    width: 10rem;
    background-color: #E59982;
    clip-path: circle(40% at 5rem 5rem);
    /* clip-path pour arondir la photo */
    padding-bottom: 2rem;

}

/* .photo {
    height: 100%;
} */

#charactGohan {
    width: 100%;
    padding-left: 18px;
    margin-top: -70px;
    /* margin-top négative pour coller l name à la photo*/
}

#charactGohan>p {
    margin: 0;
}

/* #msgPersonnage {
    margin-bottom: 40px; */
/* } */


/*partie de Charlie*/

/* Style 1ere section (H2, P, Image heros)  */

.team-text {
    margin: 50px 20px 20px 20px;
}

.team-picture {
    display: flex;
    justify-content: center;
}

.team-picture-div {
    display: block;
    width: 100%;
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.team-picture-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 1px #fff;
    background-position: center;
    background-size: cover;
    background-color: #FEC3A3;
}

.team-picture-div:hover {
    opacity: .7;
}


/* Style fotter */

.nav-footer {
    display: flex;
    justify-content: center;
    background-color: #FEC3A3;
    width: 100%;
    /* position: absolute; */
    bottom: 0;
}

.nav-footer-text {
    list-style: none;
}

.nav-footer a:hover {
    color: #E59982;
}

.nav-footer-perso {
    margin: 50px;
}


/*partie de Joy*/


@media screen and (min-width: 767px) {

    #myLogo-nav-burger {
        display: none;
    }

    #closeBtn {
        display: none;
    }

    .logo {
        position: absolute;
        height: 50px;
        top: 10px;
        margin-left: 20px;
    }

    ul {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 20px;
    }

    .sidenav ul {
        display: flex;
        position: absolute;
        list-style-type: none;
        top: 0;
        height: 60px;
    }

    .sidenav ul a {
        margin: 25px;
        list-style-type: none;
        /* font-family: 'Oswald'; */
        /* font-style: normal; */
        text-decoration: none;
        /* font-weight: 700; */
        font-size: 24px;
        line-height: 36px;
        color: #072083;
    }

    .ctaButton {
        display: flex;
        position: absolute;
        right: 10px;
        top: 10px;
        block-size: 60px;
        font-weight: bold;
        margin-top: 0px;
        padding: 7px 9px;
    }

    #closeBtn {
        display: none;
    }

    .ctaButton2 {
        display: flex;
        position: absolute;
        right: 10px;
        top: 12px;
        block-size: 50px;
        font-weight: bold;
        margin-top: 0px;
        padding: 7px 9px;
    }

    .ctaButton {
        display: none;
    }

    #carousselPersonnage {
        margin: auto;
        width: 1000px;
        height: 600px;
        justify-content: center;
        align-items: center;
    }

    .cards {
        height: 600px;
    }

    #namePersonnage {
        padding: 2rem 30rem 0.6rem;

    }
}